@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Roboto", sans-serif;
    @apply text-slate-800;
  }
}

@layer components {
  .box {
    background-color: #ffffff;
    position: relative;
    padding: 8px 16px;
    border: 1px solid #64748b;
    border-radius: 1rem; /* 16PX */
    cursor: pointer;
    transition: all 0.1s;
  }
  .box::before {
    content: "";
    position: absolute;
    right: -10px;
    top: 10px;
    z-index: -100;
    width: 100%;
    height: 100%;
    border: 1px solid #64748b;
    border-radius: 1rem; /* 16PX */
    background-color: #99f6e4;
    transition: all 0.1s;
  }
  .box:hover::before {
    background-color: #facc15;
    right: 0;
  }
}
